In [1]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
import pandas as pd

In [2]:
# Load the CSV file
third_data = pd.read_csv('C:/Users/PC/Desktop/Projects_Repository/Projects/Real_Madrid_Predictive_Model/Second Data Cleaning Process/cleaned_data2.csv')
third_data. head()

,Division,Date,Home_Team,Away_Team,Home_Goals,Away_Goals,Result,Home_Shots,Away_Shots,Home_Shots_on_Target,Away_Shots_on_Target,Home_Corners,Away_Corners,Home_Yellow_Cards,Away_Yellow_Cards,Home_Red_Cards,Away_Red_Cards
0,SP1,2014-08-23,Almeria,Espanol,1,1,D,19,12,6,2,11,7,3,2,0,1
1,SP1,2014-08-23,Granada,La Coruna,2,1,H,10,7,3,1,5,3,1,2,0,0
2,SP1,2014-08-23,Malaga,Ath Bilbao,1,0,H,12,12,3,5,5,4,3,3,2,0
3,SP1,2014-08-23,Sevilla,Valencia,1,1,D,10,11,3,1,3,3,4,2,0,1
4,SP1,2014-08-24,Barcelona,Elche,3,0,H,12,3,6,0,3,1,0,1,1,0

In [4]:
# Step 1: Convert the Date column to datetime type
third_data['Date'] = pd.to_datetime(third_data['Date'])

In [6]:
# Step 2: Encode the "Result" column with Label Encoding
le = LabelEncoder()
third_data['Result'] = le.fit_transform(third_data['Result'])

In [8]:
# Step 3: One-Hot Encoding for the home and away teams
third_data = pd.get_dummies(third_data, columns=['Home_Team', 'Away_Team'], drop_first=True)

In [9]:
# Step 4: Scale the numerical columns
scaler = StandardScaler()
numerical_columns = [
    'Home_Goals', 'Away_Goals', 'Home_Shots', 'Away_Shots', 
    'Home_Shots_on_Target', 'Away_Shots_on_Target', 'Home_Corners', 
    'Away_Corners', 'Home_Yellow_Cards', 'Away_Yellow_Cards', 
    'Home_Red_Cards', 'Away_Red_Cards'
]
third_data[numerical_columns] = scaler.fit_transform(third_data[numerical_columns])

In [10]:
# Display the first rows to verify changes
third_data.head()

,Division,Date,Home_Goals,Away_Goals,Result,Home_Shots,Away_Shots,Home_Shots_on_Target,Away_Shots_on_Target,Home_Corners,...,Away_Team_Levante,Away_Team_Malaga,Away_Team_Osasuna,Away_Team_Real Madrid,Away_Team_Sevilla,Away_Team_Sociedad,Away_Team_Sp Gijon,Away_Team_Valencia,Away_Team_Vallecano,Away_Team_Villarreal
0,SP1,2014-08-23,-0.414192,-0.146106,1,1.170221,0.320674,0.442218,-0.775967,1.840677,...,False,False,False,False,False,False,False,False,False,False
1,SP1,2014-08-23,0.285575,-0.146106,2,-0.734437,-0.795772,-0.708743,-1.207657,-0.239807,...,False,False,False,False,False,False,False,False,False,False
2,SP1,2014-08-23,-0.414192,-0.978653,2,-0.311180,0.320674,-0.708743,0.519104,-0.239807,...,False,False,False,False,False,False,False,False,False,False
3,SP1,2014-08-23,-0.414192,-0.146106,1,-0.734437,0.097385,-0.708743,-1.207657,-0.933301,...,False,False,False,False,False,False,False,True,False,False
4,SP1,2014-08-24,0.985341,-0.978653,2,-0.311180,-1.688929,0.442218,-1.639347,-0.933301,...,False,False,False,False,False,False,False,False,False,False