In [14]:
import pandas as pd
import glob

In [15]:
# Refer all the data from my local pc folder
folder_path ="C:/Users/PC/Desktop/raw data/*.csv"

In [16]:
# List to store each season's DataFrame
dataframes = []

# Iterate through all CSV files in the folder
for file in glob.glob(folder_path):
    # Load each CSV file into a DataFrame
    df = pd.read_csv(file)
    
    # Select only the relevant columns
    df = df[['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 
             'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']]
    
    # Rename columns to make them easier to analyze
    df.rename(columns={
        'Div': 'Division',
        'Date': 'Date',
        'HomeTeam': 'Home_Team',
        'AwayTeam': 'Away_Team',
        'FTHG': 'Home_Goals',
        'FTAG': 'Away_Goals',
        'FTR': 'Result',
        'HS': 'Home_Shots',
        'AS': 'Away_Shots',
        'HST': 'Home_Shots_on_Target',
        'AST': 'Away_Shots_on_Target',
        'HC': 'Home_Corners',
        'AC': 'Away_Corners',
        'HY': 'Home_Yellow_Cards',
        'AY': 'Away_Yellow_Cards',
        'HR': 'Home_Red_Cards',
        'AR': 'Away_Red_Cards'
    }, inplace=True)
    
    # Add the cleaned DataFrame to the list
    dataframes.append(df)

In [17]:
# Combine all DataFrames into a single DataFrame
df_combined = pd.concat(dataframes, ignore_index=True)

# Display the first few rows to verify the cleaning
df_combined.head()

,Division,Date,Home_Team,Away_Team,Home_Goals,Away_Goals,Result,Home_Shots,Away_Shots,Home_Shots_on_Target,Away_Shots_on_Target,Home_Corners,Away_Corners,Home_Yellow_Cards,Away_Yellow_Cards,Home_Red_Cards,Away_Red_Cards
0,SP1,23/08/14,Almeria,Espanol,1,1,D,19,12,6,2,11,7,3,2,0,1
1,SP1,23/08/14,Granada,La Coruna,2,1,H,10,7,3,1,5,3,1,2,0,0
2,SP1,23/08/14,Malaga,Ath Bilbao,1,0,H,12,12,3,5,5,4,3,3,2,0
3,SP1,23/08/14,Sevilla,Valencia,1,1,D,10,11,3,1,3,3,4,2,0,1
4,SP1,24/08/14,Barcelona,Elche,3,0,H,12,3,6,0,3,1,0,1,1,0

In [18]:
# Save the combined DataFrame to a new CSV file
df_combined.to_csv("cleaned_matches_all_seasons.csv", index=False)
print("Combined file saved as 'cleaned_matches_all_seasons.csv'")

Combined file saved as 'cleaned_matches_all_seasons.csv'